<!DOCTYPE html>
<html>
<head>
  <title>Hello world</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag "hello_world/application", media: "all" %>
  <%= javascript_importmap_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
